/*Configuraciones generales*/
*  {
    margin: 0;
    padding: 0;
}
/*Configuraciones generales*/

/*Estilos*/

/*Navbar*/
.navbar{
    background-color: rgba(161, 189, 255, 0.178);
}

#formHubspot {
    width: 80%;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

#cardTrabajos {    
    background-color: #fff;    
    box-shadow: 0px 0px 10px rgb(126, 126, 126);
}

.igcontainer a img {
    width: 350px;
    height: 350px;
    margin: 2px;
    padding: 2px;
}

/*Titulos*/
h2, h3 {
    text-shadow: 1px 2px #999;
  }
/*Titulos*/

/*Listas*/
.listas{
    list-style: none;
}
/*Listas*/

/*Institucional*/
#institucional{
    background-color: rgb(247, 247, 247);
    padding: 25px;        
}
/*institucional*/


/*Swiper*/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
/*Swiper*/

/*Media query*/

@media screen and (max-width: 600px) {
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #formHubspot {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #cardTrabajos {
        height: 28rem;
    }
}

@media screen and (max-width: 700px) {
    #cardCursos {
        height: 30rem;
    }
}

/*Media query*/
